:root {
    --blanco: #ffffff;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --oscuro: #212121;
}
body{
    background-image: url(fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 7%;
}
nav{
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 30px;
}
.navegacion {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
.navegacion a{
    padding: 1rem 2rem;
    color: black;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion a:last-of-type {
    margin-bottom:0;
}
@media (min-width:768px) {
    .navegacion a{
        margin-bottom: 0;
    }
}
.button,button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  .button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .button:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .button:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  
.formulario {
    background-color: var(--gris);
    padding: 2rem;
    border-radius: 10px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.formulario legend {
    text-align: center;
    font-size: 1.2rem;
    color: var(--primario);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}
@media (min-width:768px) {
    .formulario {
        max-width: 800px;
        margin: 0 auto;
    }
}
.contenedor-campos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.campo {
    margin-bottom: 1rem;
    width: 100%;
}
@media (min-width:480px) {
    .campo {
        display: flex;
        align-items: center;
    }
}
@media (min-width: 768px) {
    .campo{
        flex: 0 0 calc(50% - .5rem)
    }
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block;
}
@media (min-width:480px) {
    .campo label {
        flex: 0 0 90px;
    }
}
.campo input[type="text"],
.campo input[type="tel"],
.campo input[type="mail"],
.campo textarea {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
}
@media (min-width: 768px) {
    :is(.campo) :is( 
        input[type="text"], 
        input[type="text"],  
        input[type="tel"],  
        input[type="mail"] , 
        textarea ) {
        flex: 1;
    }
}

.w-100{
    flex: 0 0 100%;
}
.campo textarea {
    height: 4rem;
}
button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: right;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(45deg);
  }
  
footer{
    color: white;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 7%;
}